HA_BASE_URL=http://192.168.1.222:8123
HA_NOTIFY_SERVICE=notify.mobile_app_masterblaster
HA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJiYzIwZWIwZWNmYmY0NzE4OWRiZjk4NGY5ZjVhZGRkYSIsImlhdCI6MTc1ODY3ODA5NywiZXhwIjoyMDc0MDM4MDk3fQ._Yx6BpW0HwlafwnA4JkZ0F3qsQpz1lmi4WRkDG_strM
